@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-container {
  perspective: 2000px;
  perspective-origin: center center;
}

.movement-card {
  transform-style: preserve-3d;
  will-change: transform, opacity;
}
